
<div id="footerOuterSeparator"></div>

<div id="divFooter" class="footerArea">

    <div class="divPanel">

        <div class="row-fluid">
            <div class="offset5 span3" id="footerArea1"> 
                <p>Find out More and Get Involved</p>
            </div>
            <div class="span3" id="footerArea2">
                <i class="fa fa-envelope"></i>  <a href="mailto:thewillbfoundation@hotmail.com" title="Email">thewillbfoundation@hotmail.com</a>
            </div>
            <div class="span1" id="footerArea4">
                <i class="fa fa-facebook fa-2x"></i>   <i class="fa fa-twitter fa-2x"></i>   <i class="fa fa-google fa-2x"></i> 
            </div>
        </div>

<!--         <br />

        <div class="row-fluid">
            <div class="span12">

                <p id="copyright">Copyright © 2012 Your Company. All Rights Reserved.</p>

                <p id="bookmarks">
                    <a href="#"><span class="glyph social">e</span> Twitter</a>
                    <a href="#"><span class="glyph social">d</span> Facebook</a>
                    <a href="#"><span class="glyph social">o</span> Flickr</a>
                    <a href="#"><span class="glyph social">r</span> Skype</a>
                    <a href="#"><span class="glyph social">c</span> Blog</a>
                </p>
           
            </div>
        </div>
 -->
    </div>
</div>