
<div id="footerOuterSeparator"></div>

<div id="divFooter" class="footerArea">

    <div class="divPanel">

        <div class="row-fluid">
            <div class="span3" id="footerArea1">
            
                <h3>Sample Footer Content</h3> 
                <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>

            </div>
            <div class="span3" id="footerArea2">

                <h3>Sample Footer Content</h3> 
                <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>

            </div>
            <div class="span3" id="footerArea3">

                <h3>Sample Footer Content</h3> 
                <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>

            </div>
            <div class="span3" id="footerArea4">

                <h3>Get in Touch</h3>  
                <p>Find out more and get involved</p>
                                                            
                <ul id="contact-info">
<!--                 <li>                                    
                    <span class="glyph general icon">r</span>
                    <span class="field">Phone:</span>
                    <br />
                    (123) 456 7890 / 456 7891                                                                      
                </li> -->
                <li>
                    <span class="glyph general icon">h</span>

                    <span class="field">Email:</span>
                    <br />
                    <a href="mailto:thewillbfoundation@hotmail.com" title="Email">thewillbfoundation@hotmail.com</a>
                </li>
                <li>
                    <span class="glyph general icon" style="margin-bottom:50px">m</span>

                    <span class="field">Address:</span>
                    <br />
                    Chicago, IL<br />
                    United States
                </li>
                </ul>

            </div>
        </div>

<!--         <br />

        <div class="row-fluid">
            <div class="span12">

                <p id="copyright">Copyright © 2012 Your Company. All Rights Reserved.</p>

                <p id="bookmarks">
                    <a href="#"><span class="glyph social">e</span> Twitter</a>
                    <a href="#"><span class="glyph social">d</span> Facebook</a>
                    <a href="#"><span class="glyph social">o</span> Flickr</a>
                    <a href="#"><span class="glyph social">r</span> Skype</a>
                    <a href="#"><span class="glyph social">c</span> Blog</a>
                </p>
           
            </div>
        </div>
 -->
    </div>
</div>