<div class="row-fluid">
    <div class="span6">
        <div id="divLogo">
            <a href="index.html" id="divSiteTitle"><img src="resources/images/logo.jpg"></a>
        </div>
    </div>
    <div class="span6">
        <div class="pull-right">
            <ul class="nav nav-pills ddmenu">
              <li><a href="about.html">About Will</a></li>
              <li><a href="events.html">Events</a></li>
<!--               <li><a href="contact.html">Contact Us</a></li> -->
            </ul>
        </div>
    </div>
</div>