<div class="sidebox">
    <h3 class="sidebox-title">Our Next Event:</h3>
    <address>
        <strong>Belvedere Banquets</strong><br>
        1170 W Devon<br>
        Elk Grove Village, IL 60007<br>
        Doors open at 6:00 pm
    </address>
    <a href="http://www.willbfoundation.com" title="Cocktails For a Cure" class="addthisevent">
        Join Us!
        <span class="_start">09-11-2014 18:00:00</span>
        <span class="_end">09-11-2014 21:00:00</span>
        <span class="_zonecode">11</span>
        <span class="_summary">Will B. Foundation: Cocktails For a Cure for CF</span>
        <span class="_description">The Will B. Foundation proudly presents the second "Cocktails for a Cure for CF"</span>
        <span class="_location">1170 W Devon, Elk Grove Village, IL, 60007</span>
        <span class="_organizer">Adrian Belmonte</span>
        <span class="_organizer_email">thewillbfoundation@hotmail.com</span>
        <span class="_all_day_event">false</span>
        <span class="_date_format">MM/DD/YYYY</span>
    </a>                                
</div>