<!DOCTYPE html>
<html>
  {% include head.html %}
    <body id="pageBody">
	<div id="divBoxed" class="container">

	    <div class="transparent-bg" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: -1;zoom: 1;"></div>

		    <div class="headerArea">

		        <div class="divPanel notop nobottom">
		            {% include navigation.html %}
		        </div>

		    </div>          

            {{ content }}
		    {% include footer.html %}
		</div>
		<br /><br /><br />
        {% include javascript_includes.html %}
    </body>
</html>
